h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 24px;
  font-family: "Baloo Tamma 2";
  font-weight: bold;
  @include media-breakpoint-up(md) {
    font-size: 48px;
    margin-bottom: 24px;
    letter-spacing: 8px;
  }
}

.container {
  margin: 48px auto 24px auto;
}