h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 24px;
  font-family: "Baloo Tamma 2";
  font-weight: bold;
  @include media-breakpoint-up(md) {
    font-size: 48px;
    margin-bottom: 24px;
    letter-spacing: 8px;
  }
}

.container {
  margin-top: 24px;
  @include media-breakpoint-up(md) {
    margin: 48px auto 24px auto;
    width: 500px;
  }
}
.card {
  margin-bottom: 8px;
  max-width: 100%;
  padding: 16px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}
input[type="text"]{
  width: 100%;
  border: 0;
  outline: 0;
  padding-right: 16px;
  color: $secondary;
}